@import 'compass/css3';

.wf-active .sct-head {
  text-transform: uppercase;
}

.logo {
  margin-top: 1em;
}

.logotype {
  margin-bottom: 0;

  text-align: center;
}

.logotype-accent {
  margin-left: 6px;

  color: $accent;
}

.tagline {
  margin-top: 0;
  margin-bottom: 0.33em;

  text-align: center;
}

.buttons {
  text-align: center;
}

.btn {
  padding: 0.5em;
  position: relative;
  top: 0;

  border: 1px solid #999;

  background-color: #FFF;
  background-image: url('../img/subtle_dots.png');

  color: $accent;
  // text-shadow: 0px -1px 0px rgba(0,0,0,0.4);

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;

  -webkit-user-drag: none;
  -moz-user-drag: -moz-none;
  user-drag: none;

  @include border-radius(4px);
  @include box-shadow(inset 0 1px 1px rgba(255,255,255,0.3), 0 1px 1px rgba(0,0,0,0.2));
  @include transition(0.1s ease top);

  &:hover {
    // background-color: #FFF;
    // background-image: url('../img/subtle_dots.png');

    // border: 1px solid #999;

    // color: $accent;
    text-decoration: none;
    // text-shadow: none;
  }

  &:active {
    top: 2px;
  }
}

.twitter {
  background-image: url('../img/twitter.png');
  height: 38px;
  width: 38px;
  display: inline-block;
  margin-left: 1em;
  position: relative;
  top: 12px;

  &:hover {
    background-position: 0 40px;
  }
}

.sct-break {
  margin: 1.5em 0;
  clear: both;

  border: 1px solid #666;
  border: 1px solid rgba(0,0,0,0.2);
  border-left: none;
  border-right: none;

  background-color: $accent;
  background-image: url('../img/subtle_dots_green.png');
}

.sct-head {
  color: #FFF;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.3);
  font-size: 1.75em;
}

.sct-head:hover .sct-anchor {
  opacity: .6;
}

.sct-anchor {
  position: relative;
  top: -3px;
  left: 8px;

  font-size: 24px;
  text-decoration: none;
 
  opacity: 0;
  color: #fff;

  @include transition(0.5s);

  &:before {
    content: "\00B6";
  }

  &:hover {
    text-decoration: none;
  }
}

.lineup-block {
  margin-left: 1.5em;
  width: 148px;
  height: 17em;
  float: left;

  text-align: center;
}

.csstransitions .lineup-block {
  @include transition(all 0.3s ease);

  &:hover .lineup-img {
    top: -1.5em;
  }
}

.lineup-img {
  width: 100%;
  position: relative;
  top: 0;

  border-radius: 100px;

  @include box-shadow(0px 0px 1px rgba(0,0,0,0.3));
  @include transition(top 0.3s ease);
}

.lineup-name {
  margin: 0.75em 0 0;

  font-size: 0.875em;
  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333;
}

.lineup-text {
  font-size: 0.875em;
  margin: 0 0 0.75em;

  color: $accent;
}

.agenda {
  margin-top: 1em;
  margin-bottom: 1.5em;

  tr {
    height: 62px;

    border: 1px solid #ccc;
    border-left: none;
    border-right: none;

    &:first-child {
      border: none;
    }

    &:last-child {
      border: none;
    }

    &:hover {
      color: $accent;
    }
  }

  td {
    padding: 0.5em 1em;    
  }
}

.agenda-time {
  width: 100px;
  
  font-size: 0.875em;
  text-transform: uppercase;
}

.agenda-sponsor {
  display: block;
  margin-top: 1em;

  font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: .667em;
}

.agenda-party {
  padding: 24px 0 22px;

  border: 1px solid #ccc;
  border-left: none;
  border-right: none;

  text-align: center;
  font-size: 1.5em;
}

.contacts-img {
  width: 100px;
  margin: 1.5em;
  margin-left: 0;
  margin-top: 0;
  float: left;
}

.header {
  width: 100%;
  height: 375px;
  margin-bottom: -1.5em;

  background: lighten(rgb(93, 170, 241), 30%) url('../img/subtle_dots_blue.png');

  text-shadow: 0 1px 0 #FFF;
}

.scroller {
  background: #FFF url('../img/subtle_dots.png');
}

.no-touch {

  .header {
    position: fixed;
  }

  .scroller {
    margin-top: 375px;
    position: relative;
    z-index: 2;
  }

}

.sponsors {
  margin: 0 0 3em -1.5em;
  text-align: center;

  li {
    margin: 0 0 1em 1.5em;
    display: inline-block;
    list-style: none;
    vertical-align: middle;
  }

}

.lt-ie8 .sponsors li {
  margin-bottom: 1.5em;
}

.sponsors-small, .sponsors-large {
  padding: 0;
  margin-bottom: 1em;
  margin-left: -1.5em;
}

.sponsors-large {

  li {
    width: 256px;
  }

  img {
    width: 230px;
    display: block;
  }
}

.sponsors-small li {
  width: 170px;
  margin-bottom: 1.5em;
}

.sponsors-cta {
  font-weight: bold;
  font-size: 0.875em;
  text-decoration: underline;

  &:hover {
    color: #333;
  }

  span {
    color: #333;

    &:hover {
      color: $accent;
    }
  }
}

.inset {
  @include border-radius(10px);
  @include box-shadow(0 0 1px rgba(0,0,0,0.3),0px -1px 0px rgba(0,0,0,0.3));
}

.map {
  height: 450px;
  margin: -1.5em 0;

  border: 1px solid #999;
  border-bottom: none;
  border-top: none;
}

.information-nav {
  margin: 1em 0;

  a {
    text-decoration: underline;

    &:hover, &.active {
      color: #495555;

      .information-head {
        color: $accent;
      }
    }

  }

}

.information-head {
  margin: 0.667em 0;
  color: #495555;
}

.information-tab {
  height: 0;
  overflow: hidden;

  &.active {
    height: auto;
    overflow: visible;
  }
}

.no-js .information-tab:active {
  height: auto;
  overflow: visible;
}

.hotels {
  padding: 0 0 0 16px;

  li {
    margin: 1em 0;

    font-size: 0.875em;
    font-weight: normal;
  }

}

.hotels-name {
  font-weight: bold;
  color: #333;
}

.party-list {
  padding: 0;

  list-style: none;
}

.party-head {
  border-bottom: 1px solid #ccc;
}

.party-date {
  color: $accent;
}

.kicker {
  margin: 0.3125em 0;

  font-size: 2em;
  font-family: futura-pt, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.2;
}

.followers-wrapper {
  padding: 12px;
  margin-bottom: 1.5em;

  border: 1px solid #ccc;
  border-radius: 5px;

  background: #fff;
}

.followers {
  margin-left: -4px;
}

.github-user-thumb {
  width: 54px;
  margin: 0 0 5px 5px;

  border-radius: 5px;
}